<div class="topbar">
  <div class="topbar__search">
    <div class="topbar__search-icon" id="search-icon">
    </div>
    <input
      type="text"
      class="topbar__search-input"
      placeholder="Search here..."
    />
  </div>
  <div class="topbar__actions">
    <div class="topbar__action-item" id="notification-icon">
    </div>
    <div class="topbar__action-item" id="message-icon">
    </div>
    <div class="topbar__profile">
      <div class="topbar__profile-avatar" id="profile-avatar">
      </div>
      <span class="topbar__profile-name">Mirie Kiritani</span>
      <div class="topbar__profile-dropdown-icon" id="dropdown-icon">
      </div>
    </div>
  </div>
</div>