.saving-plan-container {
    background-color: #fff;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-right: 24px;
    margin-top: 50px;
    width: 300px;
    

    .saving-plan-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;

        h2 {
            font-size: 20px;
            font-weight: 700;
            color: #0D163A;
            margin: 0;
            line-height: 100%;
            letter-spacing: -1px;
        }

        a {
            text-decoration: none;
            color: #4745A4;
            font-size: 16px;
            line-height: 24px;
            letter-spacing:0px;
        }
    }

    .saving-plan-list {
        list-style: none;
        padding: 0;
        margin: 0;

        .saving-plan-item {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #eee;

            &:last-child {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }

            .plan-details {
                margin-bottom: 10px;

                .plan-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    margin-bottom: 5px;
                }

                .plan-name {
                    font-size: 16px;
                    font-weight: 500;
                    color: #0D163A;
                    margin: 0;
                    line-height: 24px;
                    letter-spacing: 0px;
                    flex-grow: 1;
                    margin-right: 10px;
                }

                .plan-target {
                    font-size: 12px;
                    color: #0D163A;
                    margin: 0;
                    font-weight: 400;
                    line-height: 100%;
                    letter-spacing: 0px;
                    white-space: nowrap;
                }
            }

            .plan-progress {
                .progress-text {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    margin-bottom: 5px;
                    font-size: 14px;
                    color: #555;

                    .current-amount {
                        font-weight: 600;
                        color: #0D163A;
                        font-size: 20px;
                        line-height: 100%;
                        letter-spacing: -1px;
                    }

                    .total-amount {
                        color: #0D163A;
                        opacity: 50%;
                        margin-left: 5px;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 100%;
                        letter-spacing: -1px;
                    }

                    .percentage {
                        font-weight: 600px;
                        font-size: 18px;
                        line-height: 100%;
                        letter-spacing: -1px;
                        margin-left: auto;

                        &.bali-percent {
                            color: #4745A4; 
                        }

                        &.gadget-percent {
                            color: #DD9802; 
                        }

                        &.charity-percent {
                            color: #3BBB6E; 
                        }
                    }
                }

                .progress-bar-container {
                    background-color: #DEDEDE;
                    border-radius: 100px;
                    height: 8px;
                    overflow: hidden;

                    .progress-bar {
                        border-radius: 100px;
                        width: 299px;
                        height: 8px;

                        &.bali {
                            background-color: #4745A4;
                        }

                        &.gadget {
                            background-color: #F9BA33;
                        }

                        &.charity {
                            background-color: #3BBB6E;
                        }
                    }
                }
            }
        }
    }
}