.saving-plan-container {
    background-color: #fff;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-right: 24px; 
    margin-top: 60px;
    width: 300px;
    height: 400px;

    .saving-plan-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        h2 {
            font-size: 20px;
            font-weight: 700;
            color: #0D163A;
            margin: 0;
            line-height: 100%;
            letter-spacing: -1px;
        }

        a {
            text-decoration: none;
            color: #4745A4;
            font-size: 16px;
            line-height: 24px;
            letter-spacing:0px;
        }
    }

    .saving-plan-list {
        list-style: none;
        padding: 0;
        margin: 0;

        .saving-plan-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
            border-bottom: 1px solid #eee;

            &:last-child {
                border-bottom: none;
            }

            .plan-details {
                flex-grow: 1;
                margin-right: 15px;

                .plan-name {
                    font-size: 16px;
                    font-weight: 500;
                    color: #0D163A;
                    margin-bottom: 5px;
                    line-height: 24px;
                    letter-spacing: 0px;
                }

                .plan-target {
                    font-size: 12px;
                    color: #0D163A;
                    margin: 0;
                    font-weight: 400;
                    line-height:100%;
                    letter-spacing: 0px;
                }
            }

            .plan-progress {
                width: 180px;
                text-align: right;

                .progress-bar-container {
                    background-color: #f0f0f0;
                    border-radius: 5px;
                    height: 8px;
                    margin-bottom: 5px;
                    overflow: hidden;

                    .progress-bar {
                        background-color: #5499C7;
                        height: 100%;
                        border-radius: 5px;
                    }
                }

                .progress-text {
                    font-size: 0.8rem;
                    color: #555;

                    .current-amount {
                        font-weight: bold;
                        color: #333;
                    }

                    .total-amount {
                        color: #777;
                    }

                    .percentage {
                        font-weight: bold;
                        color: #333;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}