<div class="saving-plan-container">
    <div class="saving-plan-header">
        <h2>Saving Plan</h2>
        <a href="#">See All</a>
    </div>
    <ul class="saving-plan-list">
        <li class="saving-plan-item">
            <div class="plan-details">
                <h3 class="plan-name">Bali Vacation</h3>
                <p class="plan-target">Target: August 25 2022</p>
            </div>
            <div class="plan-progress">
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 48%;"></div>
                </div>
                <div class="progress-text">
                    <span class="current-amount">$1950.21</span> / <span class="total-amount">$4000</span>
                    <span class="percentage">48%</span>
                </div>
            </div>
        </li>
        <li class="saving-plan-item">
            <div class="plan-details">
                <h3 class="plan-name">New Gadget</h3>
                <p class="plan-target">Target: August 25 2022</p>
            </div>
            <div class="plan-progress">
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 79%;"></div>
                </div>
                <div class="progress-text">
                    <span class="current-amount">$790.21</span> / <span class="total-amount">$1000</span>
                    <span class="percentage">79%</span>
                </div>
            </div>
        </li>
        <li class="saving-plan-item">
            <div class="plan-details">
                <h3 class="plan-name">Charity</h3>
                <p class="plan-target">Target: August 25 2022</p>
            </div>
            <div class="plan-progress">
                <div class="progress-bar-container">
                    <div class="progress-bar" style="width: 32%;"></div>
                </div>
                <div class="progress-text">
                    <span class="current-amount">$32,111</span> / <span class="total-amount">$100,000</span>
                    <span class="percentage">32%</span>
                </div>
            </div>
        </li>
    </ul>
</div>