<div class="overview-header">
    <h2>Overview</h2>
</div>

<div class="overview-container">
    <div class="card card-balance">
        <div class="card-header">
            <span class="icon-placeholder"id="wallet-icon"></span>
            <span class="card-title">Your Balance</span>
        </div>
       <div class="increase-percent">
        <span id="export-icon"></span>
         <p class="card-percentage" id="balance-percentage">15% compared with last month</p>
       </div>
       
        <div class="card-footer">
            <span class="card-value" id="balance-value">$ 28,891.138</span>
            <div class="card-arrow" id="balance-arrow"></div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <span class="icon-placeholder" id="saving-icon"></span>
            <span class="card-title">Saving</span>
        </div>
        <div class = "increase-percent ">
            <span id = "saving-export"></span>
             <p class="card-percentage" id="saving-percentage">10% compared with last month</p>
        </div>
       
        <div class="card-footer">
            <span class="card-sub-value" id="saving-value">$ 1,050.44</span>
            <div class="card-arrow" id="saving-arrow"></div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <span class="icon-placeholder"id="expense-icon"></span>
            <span class="card-title">Expenses</span>
        </div>
        <div class = "increase-percent ">
            <span id="expense-export"></span>
        <p class="card-percentage" id="expenses-percentage">2% compared with last month</p>
        </div>
        <div class="card-footer">
            <span class="card-value" id="expenses-value">$ 200.31</span>
            <div class="card-arrow" id="expense-arrow"></div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <span class="icon-placeholder" id="income-icon"></span>
            <span class="card-title">Incomes</span>
        </div>
        <div class="increase-percent">
            <span id="income-export"></span>
             <p class="card-percentage" id="incomes-percentage">8% compared with last month</p>
        </div>
       
        <div class="card-footer">
            <span class="card-value" id="incomes-value">$ 21,121.0</span>
            <div class="card-arrow" id="income-arrow"></div>
        </div>
    </div>
</div>