<div class="recent-transaction">
  <div class="recent-transaction__header">
    <h3>Recent Transaction</h3>
    <a href="#">See All</a>
  </div>
  <ul class="recent-transaction__list">
    <li class="recent-transaction__item">
      <div class="recent-transaction__icon" id="figma-icon"></div>
      <div class="recent-transaction__details">
        <span class="recent-transaction__name">Figma</span>
        <span class="recent-transaction__date">August 20, 2022</span>
      </div>
      <div class="recent-transaction__amount">
        <span className="recent-transaction__figure">$100</span>
        <span class="recent-transaction__status completed">Completed</span>
      </div>
    </li>
    <li class="recent-transaction__item">
      <div class="recent-transaction__icon" id="youtube-icon"></div>
      <div class="recent-transaction__details">
        <span class="recent-transaction__name">Youtube</span>
        <span class="recent-transaction__date">August 20, 2022</span>
      </div>
      <div class="recent-transaction__amount">
        <span className="recent-transaction__figure">$120</span>
        <span class="recent-transaction__status completed">Completed</span>
      </div>
    </li>
    <li class="recent-transaction__item">
      <div class="recent-transaction__icon" id="spotify-icon"></div>
      <div class="recent-transaction__details">
        <span class="recent-transaction__name">Spotify</span>
        <span class="recent-transaction__date">August 20, 2022</span>
      </div>
      <div class="recent-transaction__amount">
        <span className="recent-transaction__figure">$15</span>
        <span class="recent-transaction__status completed">Completed</span>
      </div>
    </li>
    <li class="recent-transaction__item">
      <div class="recent-transaction__icon" id="freepik-icon"></div>
      <div class="recent-transaction__details">
        <span class="recent-transaction__name">Freepik</span>
        <span class="recent-transaction__date">August 20, 2022</span>
      </div>
      <div class="recent-transaction__amount">
        <span className="recent-transaction__figure">$300</span>
        <span class="recent-transaction__status completed">Completed</span>
      </div>
    </li>
  </ul>
</div>
