<div class="sidebar">
    
  <div class="sidebar__logo">
    <div class="sidebar__logo-icon" id="sidebar-logo-icon">
      </div>
  </div>
  
  <ul class="sidebar__nav">
    <li class="sidebar__nav-item active">
      <a href="#" class="sidebar__nav-link">
        <div class="sidebar__nav-link-icon" id="dashboard-icon"></div>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="sidebar__nav-item">
      <a href="#" class="sidebar__nav-link">
        <div class="sidebar__nav-link-icon" id="schedule-icon"></div>
        <span>Schedule</span>
      </a>
    </li>
    <li class="sidebar__nav-item">
      <a href="#" class="sidebar__nav-link">
        <div class="sidebar__nav-link-icon" id="message-icon"></div>
        <span>Message</span>
      </a>
    </li>
    <li class="sidebar__nav-item">
      <a href="#" class="sidebar__nav-link">
        <div class="sidebar__nav-link-icon" id="analytics-icon"></div>
        <span>Analytics</span>
      </a>
    </li>
    <li class="sidebar__nav-item">
      <a href="#" class="sidebar__nav-link">
        <div class="sidebar__nav-link-icon" id="team-icon"></div>
        <span>Team</span>
      </a>
    </li>
  </ul>
  <div class="sidebar__separator"></div>
  <ul class="sidebar__nav sidebar__nav--bottom">
    <li class="sidebar__nav-item">
      <a href="#" class="sidebar__nav-link">
        <div class="sidebar__nav-link-icon" id="profile-icon"></div>
        <span>Profile</span>
      </a>
    </li>
    <li class="sidebar__nav-item">
      <a href="#" class="sidebar__nav-link">
        <div class="sidebar__nav-link-icon" id="settings-icon"></div>
        <span>Settings</span>
      </a>
    </li>
  </ul>
  <div class="sidebar__separator"></div>
  <ul class="sidebar__nav sidebar__nav--bottom">
    <li class="sidebar__nav-item">
      <a href="#" class="sidebar__nav-link">
        <div class="sidebar__nav-link-icon" id="help-icon"></div>
        <span>Help</span>
      </a>
    </li>
    <li class="sidebar__nav-item">
      <a href="#" class="sidebar__nav-link logout-link">
        <div class="sidebar__nav-link-icon" id="logout-icon"></div>
        <span>Logout</span>
      </a>
    </li>
  </ul>
</div>